.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 5px -2px #fff;
    background-color: #000;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 100px;
    height: 100px;
}
.nav-logo p{
    color: orangered;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    color: #cdcaa7;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background: orangered;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 145px; /*157 original*/
    height: 50px; /*58 original*/
    outline: none;
    border: 1px solid orangered;
    color: orangered;
    background: #000;
    border-radius: 75px;
    font-size: 20px;

}
.nav-login-cart button:active{
    background: #efa54a;
}
.nav-login-cart img{
    height: 58px;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #fe4304;
    color: #fff;
}
